.contactsPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  .contactsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
  }
}
